
safwegf

# test.txt
##use-gitignore.txt
test.txt
use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
# test.txt
##use-gitignore.txt
